@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background: ##F0FBF5;

}

.card{
    width: 45%;
    margin-top: 10%;
}